<!-- Import Polymer -->
<link rel="import" href="../lib/polymer/polymer.html">

<!-- Define your custom element -->
<polymer-element name="<%= elementName %>" attributes="name">

    <template>
        <p>Hello <strong>{{name}}</strong></p>
    </template>

    <script>
        Polymer('<%= elementName %>', {
            name: 'World'<% if (lifecycle) { %>,
            // element is fully prepared
            ready: function() { },
            // instance of the element is created
            created: function() { },
            // instance was inserted into the document
            enteredView: function() { },
            // instance was removed from the document
            leftView: function() { },
            // attribute added, removed or updated
            attributeChanged: function(attrName, oldVal, newVal) { }<% } %>
        });
    </script>

</polymer-element>
