<!-- Import Polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Define your custom element -->
<% if (polymerVersion == '0.5.1') { %><polymer-element name="<%= elementName %>"><% } %><% if (polymerVersion == '1.4.0') { %><dom-module id="<%= elementName %>"><% } %>
    <script>
        Polymer(<% if (polymerVersion == '0.5.1') { %>'<%= elementName %>', <% } %>{<% if (lifecycle) { %><% if (polymerVersion == '1.4.0') { %>
            is:'<%= elementName %>',<% } %>
            // Fires when an instance of the element is created
            created: function() {},
            <% if (polymerVersion == '0.5.1') { %>
            // Fires when the element’s initial set of children and siblings are guaranteed to exist
            domReady: function() {},
            <% } %>
            // Fires when the "<polymer-element>" has been fully prepared
            ready: function() {},

            // Fires when the element was inserted into the document
            attached: function() {},

            // Fires when the element was removed from the document
            detached: function() {},

            // Fires when an attribute was added, removed, or updated
            attributeChanged: function(attr, oldVal, newVal) {}<% } %>
        });
    </script
</polymer-element>
